body {
  font-family: "Karla", sans-serif;
  padding: 0;
  margin: 0;
  background: url(/img/blob-scene-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
}

@media all and (max-width:600px){
  body {
      display: flex;
      align-items: center;
      background: url(/img/blob-scene-haikei-mobile.svg);
      background-size: cover;
      background-position: center center;
      height: 100vh;
      min-height: -moz-available;
      min-height: -webkit-fill-available;
      min-height: fill-available;
  }
  .container {
    height: 70vh;
    margin: 0;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 700px;
  height: 700px;
  margin: auto;
  /* margin-bottom: 20%; */
  background-color: rgba(255, 255, 255, 0.3);
  padding: 50px;
  border-radius: 5vh;
  box-shadow: 0 0px 20px 2px rgba(255, 255, 255, 0.2)
}

h1 {
  font-size: 50px;
  color:#E56A5A;
  margin-bottom: 50px;
  text-shadow: 0 0 5px white;
}

input {
  font-family: "Karla", sans-serif;
  background-color: antiquewhite;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 16px;
  padding: 10px;
}

button {
  font-family: "Karla", sans-serif;
  padding: 10px;
  background-color: antiquewhite;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 4px;
  max-width: 200px;
  min-width: 140px;
  flex: 1;
  transition: 350ms ease-in-out;
}

#unshift-btn, #push-btn, #shift-btn, #pop-btn {
  font-size: 20px;
}

button:hover {
  background-color: #FCAF3C;
  transition: 350ms ease-in-out;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  max-width: 400px;
  flex-wrap: wrap;
}

#emoji-container {
  font-size: 50px;
  border: 5px dashed #4B2F5D;
  padding: 10px;
}

#emoji-container h2,
p {
  color:  #FCAF3C;
  font-size: 20px;
  letter-spacing: normal;
  text-shadow: 0 0 2px rgb(60, 60, 60);
}

#emoji-container span {
  margin: 10px;
  font-size: 60px;
  display: inline-block;
}